:root {
  --primary: #b00b0b;
  --hover: #800000;
  --secondary: #132A13;
  --padding: 15px;
  --cinza : #405040;
  --cinza-claro: #dedede;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
input[type=number] {
 -moz-appearance: textfield;
 appearance: textfield;

}

